{{!< default}}

<section class="breaking-news pt-5 gh-outer">
    <div class="container gh-inner">
        <h2 class="section-title">{{ @custom.podcasts_title }}</h2>
        <div class="container">
            {{#get 'tags' filter="visibility:public  " limit="all" order="count.posts desc" as |tags|}}
            <div class=" row justify-content-center ">
                {{#foreach tags from="0" }}
                <div class="col-lg-5 col-md-4 col-sm-6 spectral">
                    <div class="podcast-item">
                        <a href="{{url}}" class="podcast-link">
                            {{#unless feature_image}}
                            {{!-- Use a default image if no featured image is present --}}
                            <div class="podcast-image"
                                style="background-image: url('{{asset 'images/podcast-default.png'}}');">
                            </div>
                            {{else}}
                            {{!-- Use the featured image if available --}}
                            <div class="podcast-image" style="background-image: url('{{feature_image}}');">
                            </div>
                            {{/unless}}
                        </a>
                    </div>
                </div>
                {{/foreach}}


            </div>
            {{/get}}



        </div>

    </div>
</section>
